#site {width: 100%; max-width: 940px; margin: 0 auto; position: relative; padding-top: 100px;
	#header { position: absolute; top: 0; height: 60px; left: 0; right: 0; border-bottom: 5px solid #CC0000;
		h1 {font-family: 'Alegreya SC', serif; font-size: 24px; line-height: 31px; font-weight: 900;}
	}
	#stats { position: absolute; bottom: 0px; right: 0px; font-size: 10px; }
	#initScreen { position: relative; font-family: 'Gudea', sans-serif; font-size: 18px; line-height: 25px; display: block; padding-bottom: 40px; width: 550px;
		html.testStarted & { display: none; }
		img {float: left; margin: 0 20px 10px;}
		.teamNameNotSet & { display: none; }
	}
	#gameZone { position: relative; min-height: 300px; text-align: center; font-family: 'Gudea', sans-serif; font-size: 18px; line-height: 25px; display: none;
		html.testStarted & { display: block; }
		#question { border-bottom: 1px dashed #C9C9C9; font-size: 30px; font-weight: normal; line-height: 37px; margin-bottom: 20px; padding-bottom: 20px;}
		.timer { font-size: 10px; position: relative; text-align: left;
			.time { position:absolute; height: 8px; bottom: -8px; left: 0; right: 100%; background: #bada55; 
				-webkit-transition: right 2s linear;
			       -moz-transition: right 2s linear;
						transition: right 2s linear;
			}
		}
	}
	.timeDone { -webkit-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; 
		.chooseAnswer {
			&.selected { background: #bada55; color: #fff; }
			&.hover { background: transparent !important; color: #000; }
		}
	}
	#answers { text-align: left;
		ul {margin: 0; padding: 0; 
			li { list-style: none; margin: 0 0 20px; 
				.chooseAnswer { cursor: pointer; font-family: 'Alegreya SC', serif; font-size: 24px; line-height: 31px; font-weight: 900; padding: 5px 5px 13px 14px; margin-right: 25px; width: 25px; height: 25px; border-radius: 15px; border: 2px solid #000; position: relative; box-sizing: border-box; display: inline-block; 
					-webkit-transition: background 250ms linear;
				       -moz-transition: background 250ms linear;
							transition: background 250ms linear;
					&.selected, &.selected.hover { background: #bada55; color: #fff; }
					&.hover { background: #c9c9c9; color: #000; }
				}
			}
		}
	}

	#enter {
		position: absolute; width: 450px; padding: 30px; top: 50%; margin-top: -50px; left: 50%; margin-left: -250px; background: #fff; z-index:99; box-shadow: 0 0 6px rgba(0,0,0,0.25);
		h2 {margin-top: 0;}
		html.teamNameSet & { display: none; }
	}
} 